<template>
  <require from="./markdown"></require>
  <require from="./episodePlayer"></require>
  <h3>
    <span>${episode.number}.</span> ${episode.title}
  </h3>
  <div class="player">
    <episode-player episode.bind="episode"></episode-player>
    <p class="download">
      <a href="${episode.downloadUrl}">Download</a>
    </p>
  </div>
  <div class="info">
    <p class="description">
      <markdown model="${episode.description}"></markdown>
    </p>
    <p class="posted-date">
    Recorded on ${episode.record_date}. Posted on ${episode.posted_on}.
    </p>
  </div>
</template>
