<template>
  <ul class="photos" if.bind="photos.length">
    <li repeat.for="photo of photos" class="photo">
      <img class="jslghtbx-thmb" alt=""
        data-jslghtbx="${photo.full_url}" data-jslghtbx-group="main"
        data-jslghtbx-caption='See this image in the <a target="_blank" href="${photo.gallery_url}">Photo Gallery<sup><i class="fa fa-external-link" aria-hidden="true"></i></sup></a>.'
        src="${photo.url}" width="${photo.width}" height="${photo.height}">
    </li>
  </ul>
  <p class="more" style="margin-top: 0;">
    See more in the <a target="_blank" href="//photos.impulsedetroit.net">Photo Gallery<sup><i class="fa fa-external-link" aria-hidden="true"></i></sup></a> <i class="fa fa-long-arrow-right"></i>
  </p>
</template>
