* { box-sizing: border-box; }
.splash { margin: 1em; }

@font-face { font-family: desmonanz; src: url(../resources/desonanz.ttf); }
body { background-color: #222; color: #ccc; margin: 0;
  font-size: 120%; font-family: "Josefin Sans", sans-serif; line-height: 1.2em; }
header { border-bottom: 3px solid #f63; background: transparent;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.25));
  background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.7));
  background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.7));
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.3)); }
  /*
header { border-bottom: 3px solid #f63; background: transparent; padding-bottom: 8px;
  background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0));
  background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0));
  background: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0));
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0)); }
  */
.logo { font-family: desmonanz; padding: 32px 0 0 24px; font-size: 32px; float: left;
  line-height: 1em; }
.logo a,.logo a:visited,.logo a:hover { color: #f63; text-decoration: none; display: block; }
.logo span { text-transform: lowercase; color: #f63; }
nav.main ul { padding: 0; margin: 0px 0 0 12px; float: left; }
nav.main ul li { display: inline-block; float: left; list-style: none; padding: 0 0 0 5px; }
nav.main a { color: #f63; text-decoration: none; font-weight: 700; display: block;
  padding: 12px 5px 5px 5px; }
nav.main a:visited { color: #f63; }
nav.main a.active { background-color: black; }
nav.main a:hover { background-color: black; }
nav.main a.active, nav.main a:hover { background-color: black; color: #f96; }
.hero { background-size: cover; background-position: center center;
  clear: both; height: 50vh;
  border-bottom: 3px solid #f63;
  background-image: url(../images/siteheros/02.jpg); }
.hero-overlay { height: 100%; }
.hero-info { max-width: 18em; float: left; padding: 0.7em; font-size: x-large;
  margin-top: 1em; background: rgba(0,0,0,0.6); color: #eee; line-height: 1.2em; }
.dropshadow { background: transparent;
  background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2), rgba(0,0,0,0.7));
  background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2), rgba(0,0,0,0.7));
  background: -moz-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2), rgba(0,0,0,0.7));
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0)); }
.content { padding: 0.5em 1.5em 0 1.5em; }
h1 { margin: 0; }
h2 { margin: 0 0 0.8em 0; padding: 0.5em 0 0.2em 0; color: #999; }
a { color: #f63; }
a:visited, a:hover { color: #f96; }
.clearer { line-height: 0; clear: both; margin: 0; }

.homebox { background-color: rgba(0,0,0,0.5); margin-top: 1em; }

div.videowrapper { width: 100%; }

/*
.listings { border: 2px solid rgba(99,99,99,0.5); padding: 1em;
    background-color: rgba(0,0,0,0.33); }
.listings p { margin-top: 0; font-size: 120%; font-style: italic; }
.listing { clear: both; margin-bottom: 0.5em; }
.listing .top { padding-top: 8px; }
.listing .time { float: left; width: 3em; padding-top: 0.38em; }
.listing .artist { color: white; margin-right: 0.2em; font-size: 150%; }
.listing .meta { font-style: italic; }
.listing .moar { margin-left: 5em; font-size: 80%; }
*/
.messages-outer {
  height: 80%;
  max-height: 18em;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.3em;
}

.messages {
  max-height: 18em;
  min-height: 18em;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
  padding: 0 1em;
  border: 2px solid rgba(99,99,99,0.5);
  background-color: rgba(0,0,0,0.33);
}
div.thechat { height: 100%; }
.messages .stamp { font-size: x-small; float: right; }
.messages .username { color: #999; font-weight: bold; }
div#messages a { color: #999; }
input.form-control { background-color: rgba(99,99,99,0.5); padding: 1%;
    border: none; font-size: 100%; color: #eee; }
input.chat-name { width: 17%; }
input.chat-message { width: 82%; float: right; }
input.chat-submit { position: absolute; left: -9999px; }
.infoline { height: 1em; float: right; font-size: small; color: #999; }
.infoline span { font-weight: bold; color: white; }
a.infobutton { clear: both; text-align: center; margin-top: 1em; padding: 0.1em 1em;
  background-color: rgba(255,95,48,0.1); border: 2px solid #630; display: block;
  color: white; text-decoration: none; }
a.infobutton:hover {
  background-color: rgba(255,95,48,0.3); border: 2px solid #f63; }
.infobox { clear: both; text-align: center; margin-top: 1em; padding: 0.1em 1em;
  background-color: rgba(0,0,0,0.33); }

ul.shows { padding: 0; margin: 0; display: flex; flex-wrap: wrap; }
ul.shows li { list-style-type: none; margin: 0.5em; }
ul.shows a { display: block; width: 332px; padding: 6px 6px 0 6px;
  background-color: #111; }
ul.shows a:hover { border-color: #f63; background-color: #181818; }
.btnimg { width: 320px; height: 180px; background-size: contain; }
ul.shows .btnimg div { height: 100%; background: rgba(0,0,0,0.3); }
ul.shows a:hover .btnimg div { background: transparent; }
ul.shows a { color: #ccc; text-decoration: none; }
ul.shows .showinfo { padding: 8px; }
ul.shows .showinfo p { margin: 0; }
ul.shows a:hover .showinfo { color: white; }

.btnimg-techno-tuesday {
  background-image: url(../images/showbtns/techno-tuesday.jpg); }
.btnimg-paris-of-the-west {
  background-image: url(../images/showbtns/paris-of-the-west.jpg); }
.btnimg-wobblehead-radio {
  background-image: url(../images/showbtns/wobblehead-radio.jpg); }
.btnimg-headroom {
  background-image: url(../images/showbtns/headroom.png); }

section.show { clear: both; }
section.show div.page { clear: both; padding: 0.5em 0; }
/* section.show h2 { padding: 1em 0.5em; margin-bottom: 0; font-size: xx-large; } */

nav.show ul { margin: 0; padding: 0; }
nav.show ul li { display: inline-block; float: left; list-style: none; }
nav.show a { color: #f63; text-decoration: none; display: block;
  padding: 1em 0.4em 0.2em 0.4em; }
nav.show a:visited { color: #f63; }
nav.show a.active, nav.main a:hover { color: #f96; background-color: rgba(0,0,0,0.5); }
nav.show i { }

.show .page .sidebar ul { list-style-type: none; line-height: 1.5em; margin: 0; padding: 0; }
.show .page .sidebar { font-size: large; }
.show .page .sidebar li { float: left; }
.show .page .sidebar a { text-decoration: none; }
.show .page .sidebar i { display: block; clear: both; float: left; width: 1.5em;
  text-align: center; padding-top: 0.1em; }
.show .page .short-info { clear: both; }

.podcast { list-style-type: none; padding-left: 0; }
.podcast i { width: 1.5em; }
.podcast h3 { font-weight: normal; margin-bottom: 0.25em; padding-left: 0.7em; }
.podcast h3 span { font-weight: bold; color: white; }
.podcast .player { width: 100%; }
.podcast audio { width: 100%; }
.podcast .info { margin-left: 28px; }
.podcast .record-date { font-size: small; }
.podcast .showname { text-transform: uppercase; font-size: small;
  font-weight: bold; margin: 0 5px 0 0; }
.podcast .description {}
.podcast .download { font-size: small; float: right; margin: .5em; }
.podcast .posted-date { font-size: medium; color: #aaa; }

.events-listing ul { list-style-type: none; padding-left: .7em;
  margin: 0; }
.events-listing .btnimg { float: right; border: 6px solid #111;
  width: 160px; height: 90px; }
.events-listing .btnimg a { display: block;
  width: 160px; height: 90px; }
.events-listing li.event { clear: both; padding-bottom: .5em; }
.events-listing li.event .wrap { border-left: 3px solid #f63; padding-left: 1em; }
.events-listing h4 { margin-bottom: 0; padding: 0; }
.events-listing ul.performances { list-style-type: none; }
.events-listing ul.performances li { clear: left; }
.events-listing .happens_on { margin-top: 0; font-size: 80%; }
.events-listing .time { float: left; clear: left; margin-right: 0.5em; }
.events-listing .artist { float: left; margin-right: 0.5em; color: white; }
.events-listing .meta { color: #999; margin-right: 0.5em; }
.events-listing .extra { margin-top: -1em; }

p.more { float: right; }

.show .page .info { margin-top: 1em; }


.showhero { background-size: cover; background-position: center center;
  clear: both; height: 30vh;
  border-bottom: 3px solid #f63; }
.show-techno-tuesday {
  background-image: url(../images/showheros/techno-tuesday.jpg); }
.show-paris-of-the-west {
  background-image: url(../images/showheros/paris-of-the-west.jpg); }
.show-wobblehead-radio {
  background-image: url(../images/showheros/wobblehead-radio.jpg); }
.show-headroom {
  background-image: url(../images/showheros/headroom.png); }
.showhero-overlay { height: 100%; }
.showhero-info { max-width: 18em; float: right; padding: 0.7em; font-size: x-large;
  margin-top: 1em; background: rgba(0,0,0,0.4); color: #eee; }

footer { clear: both; padding: 20px 40px;
    border-top: 2px solid #333;
    background: rgba(0,0,0,0.2); }
footer .bit { float: left; }
footer .lg { width: 40%; }
footer .lg .bit p { }
footer .sm { width: 14em; }
footer .sm .bit p { margin: 0; }


.main-schedule-next { display: none; padding-top: 1em; }
.section-right { padding-top: 1.6em; }

@media (min-width: 700px) {
  .section-left { float: left; width: 50%; }
  .section-right { width: 50%; float: right; padding-left: 12px; padding-top: 0; }
  .main-schedule-next { display: block; }
  .show .page .sidebar { float: right; width: 30%; margin-left: 1em; font-size: x-large; }
  .show .page .sidebar li { float: none; }
  .show .page .short-info { clear: none; }
  ul.podcast .player { float: right; width: 50%; }
  nav.show ul { margin: 0; padding: 0; }
  nav.show a { padding: 2em 1em 0.5em 1em; }
}

@media (min-width: 567px) {
  nav.main a { padding-top: 42px; }
  .logo { padding-bottom: 0; }
}

/* Ultra skinny view */
@media (max-width: 386px) {
  header { padding-bottom: 0; }
  .logo { padding: 18px 0 0 12px; font-size: 32px; float: left; }
  nav.main ul { margin-left: 12px; }
  nav.main ul { margin-left: 0; }
  ul.shows li { margin: 0; }
  ul.shows .btnimg { background-position: center; background-repeat: no-repeat; width: 100%; }
  ul.shows a { width: 100%; }
  .content { padding: 0; }
  section.show div.page { padding: 1em 8px; }
  h2 { margin: 0; padding: 0.5em 8px; }
}
